.nd-el {
	border: 1px solid #000;
    height: 400px;
	overflow: hidden;
	/* margin: 20px; */
	position: relative;
	color: white;
	border-color: red;
}

.video-background {
	position: absolute;
	z-index: -2;
	top: 0;
	left: 0;
	/* width: 100%; */
	overflow: hidden;
}

.video-background-overlay {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0
}